{% extends "base.html" %}

{% block main %}
	<div class="posts edit-menu">
		<div class="likes">
			<h3>Likes: {{ likes }}</h3> 
		</div>
		<div class="edit-item">
			<a href="like?p={{ post.key().id() }}">Like</a>
			<a href="edit/{{ post.key().id() }}">Edit</a>
			<a href="deleted?p={{ post.key().id() }}">Delete</a>
			<br>
			<div class="error">
				{{ error }}
			</div>
		</div>
	</div>
	{{ render.render_post(post) | safe}}

	<div class="posts">
		<h2>Comments</h2>
		<br>
		{% for c  in comments %}
			{{ renderComment.render_comment(c) | safe}}
		{% endfor %}
		<br>
		<br>
		<div>
			<form method="post">
				<label>new comment: </label>
				<textarea name="content"></textarea>
				<div class="error">
					{{ comment_error }}
				</div>
				<input type="submit">
			</form>
		</div>
	</div>
{% endblock %}