{% extends "base.html" %}

{% block main %}
	<div class="posts">
		<h1 class="posts-title">Sign Up</h1>
		<form method="post" class="login">
			<label>
				Username: <input type="text" name="username", value="{{ username }}">
			</label>
			<br><br>
			<label>
				Password: <input type="password" name="pw">
			</label>
			<br><br>
			<label>
				Verify Password: <input type="password" name="verify">
			</label>
			<br><br>
			<label>
				Email: <input type="email" name="email" value="{{ email }}">
			</label>
			<br>
			<div class="error">{{ error }}</div>
			<br>
			<input type="submit" value="Sign Up">
		</form>
	</div>
{% endblock %}